* {
  margin: 0;
  padding: 0;
}
/* .newBookingCardBGColor{
  background-color: white;
} */
/* .css-1ncsfro{
  background-color: #FFFFFF;
} */
.css-wqcrf4{
  background-color: #FFFFFF;
}
/* styles.css or in your style component */
.custom-date-icon {
  margin-left: 8px;
  color: #FFFFFF;
  font-size: 24px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
