* {
  margin: 0;
  padding: 0;
}
/* .newBookingCardBGColor{
  background-color: white;
} */
.css-1ncsfro{
  background-color: white;
 

}
.css-wqcrf4{
  background-color: white;
}
/* styles.css or in your style component */
.custom-date-icon {
  margin-left: 8px;
  color: white;
  font-size: 24px;
}
