* {
  margin: 0;
  padding: 0;
}
/* .newBookingCardBGColor{
  background-color: white;
} */
.css-1ncsfro{
  background-color: white;
 

}
.css-wqcrf4{
  background-color: white;
}
.datepicker-input {
  padding: 10px 20px; /* Add padding to the top/bottom and left/right */
  font-size: 16px;     /* Adjust font size */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  position: relative;
  box-sizing: border-box; /* Ensure padding does not affect the total width */
}